<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00AM</td>        <!-- time    -->
        <td>Introducing the Shell</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:05AM</td>        <!-- time    -->
        <td>Navigating files and directories</td>        <!-- content -->
      </tr>
      <tr>
        <td>9:50AM</td>
        <td>Working with files and directories</td>
      </tr>
      <tr>
        <td>10:30AM</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:40AM</td>
        <td>Loops</td>
      </tr>
      <tr>
        <td>11:10AM</td>
        <td>Shell scripts</td>
      </tr>
      <tr>
        <td>12:00PM</td>
        <td>Finding things</td>
      </tr>
      <tr>
        <td>12:45PM</td>
        <td>Lunch</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00AM</td>        <!-- time    -->
        <td>Why use version control?</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:05AM</td>        <!-- time    -->
        <td>Setting up Git</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:10AM</td>        <!-- time    -->
        <td>Creating a repository</td>        <!-- content -->
      </tr>
      <tr>
        <td>9:20AM</td>
        <td>Tracking changes</td>
      </tr>
      <tr>
        <td>9:40AM</td>
        <td>Exploring history</td>
      </tr>
      <tr>
        <td>10:05AM</td>
        <td>Ignoring things</td>
      </tr>
      <tr>
        <td>10:10AM</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:20AM</td>
        <td>Remotes in GitHub</td>
      </tr>
      <tr>
        <td>11:05AM</td>
        <td>Collaborating</td>
      </tr>
      <tr>
        <td>11:30AM</td>
        <td>Merge conflicts</td>
      </tr>
      <tr>
        <td>11:45AM</td>
        <td>Open Science</td>
      </tr>
      <tr>
        <td>11:55AM</td>
        <td>Licensing</td>
      </tr>
      <tr>
        <td>12:00PM</td>
        <td>Citation</td>
      </tr>
      <tr>
        <td>12:05PM</td>
        <td>Hosting</td>
      </tr>
      <tr>
        <td>12:15PM</td>
        <td>Source Tree</td>
      </tr>
      <tr>
        <td>12:30PM</td>
        <td>Lunch</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00AM</td>        <!-- time    -->
        <td>Introduction to R and RStudio</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:55AM</td>        <!-- time    -->
        <td>Project management in RStudio</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:25AM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>
        <td>10:35AM</td>
        <td>Finding help in R</td>
      </tr>
      <tr>
        <td>10:55AM</td>
        <td>Reading and writing csv files with R scripts</td>
      </tr>
      <tr>
        <td>11:25AM</td>
        <td>Saving your results with R scripts</td>
      </tr>
      <tr>
        <td>11:45AM</td>
        <td>Introduction to R Markdown</td>
      </tr>
      <tr>
        <td>12:05PM</td>
        <td>Automate project set-up with templates</td>
      </tr>
      <tr>
        <td>12:30PM</td>
        <td>Lunch</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>