<div id="sourcetree">
    <h3>R</h3>
  
    <p>
      <a href="https://www.sourcetreeapp.com/">Source Tree</a> is a free to use
      graphical user interface for Windows and Mac to interact with your Git repositories. 
      It is created and maintained by Atlassian. Source Tree is a good place to start with Git for 
      beginners. It is optional for this course, as RStudio has an integrated GUI for
      Git as well.
    </p>
  
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a data-os="windows" href="#rstats-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
        <li role="presentation"><a data-os="macos" href="#rstats-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      </ul>
  
      <div class="tab-content">
        <article role="tabpanel" class="tab-pane active" id="rstats-windows">
          <p>
            Install Source Tree by downloading and running 
            <a href="https://product-downloads.atlassian.com/software/sourcetree/windows/ga/SourceTreeSetup-3.4.9.exe">this .exe file</a>
            from <a href="https://www.sourcetreeapp.com/">Source Tree</a>.
            Note that if you have separate user and admin accounts, you should run the
            installers as administrator (right-click on .exe file and select "Run as
            administrator" instead of double-clicking). Otherwise problems may occur later.
          </p>
          <p>
              For more detailed installation instructions refer to 
              <a href=" https://confluence.atlassian.com/get-started-with-sourcetree/install-sourcetree-847359094.html">the documentation by Atlassian Support</a>
          </p>
          </div>
          </div>
        </article>
        <article role="tabpanel" class="tab-pane" id="rstats-macos">
          <p>
            Install Source Tree by downloading and unpacking
            <a href="https://product-downloads.atlassian.com/software/sourcetree/ga/Sourcetree_4.1.8_244.zip">this .zip file</a>
            from <a href="https://cran.r-project.org/index.html">Source Tree</a>. Run the DMG file.
          </p>
          <p>
            For more detailed installation instructions refer to 
            <a href=" https://confluence.atlassian.com/get-started-with-sourcetree/install-sourcetree-847359094.html">the documentation by Atlassian Support</a>
          </p>
          </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  